---
import Side from '@/components/about/Side.astro';
import Layout from '@/layouts/Layout_Sidebar.astro';
import Papa from 'papaparse';
import fs from 'fs/promises';

const csvPath = 'src/data/about/personnel/executives_data.csv';
const csvData = await fs.readFile(csvPath, 'utf-8');
const executives = Papa.parse<{
	name_th: string;
	name_en: string;
	position_th: string;
	position_en: string;
	email: string;
	image: string;
}>(csvData, { header: true }).data;

const title = 'ผู้บริหาร';
const description = 'ผู้บริหารวิทยาลัยศาสนศึกษา มหาวิทยาลัยมหิดล';
---

<Layout title={title} description={description}>
	<aside slot="aside" class="order-2 md:order-1">
		<Side />
	</aside>
	<article>
		<h1 class="mt-0">{title}</h1>
		<p class="mb-6">{description}</p>

		<div class="mb-2 grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3">
			{
				executives.map((executive) => (
					<div class="dark:shadow-th-shadow-1-dark rounded-th-rounded-2 bg-th-bg-1 p-4 shadow-th-shadow-1 dark:bg-th-bg-1-dark">
						<div class="mb-3 aspect-[3/4] overflow-hidden rounded-th-rounded-2">
							<img
								src={`/img/personnel/${executive.image}`}
								alt={executive.name_th}
								class="h-full w-full object-cover"
							/>
						</div>
						<h2 class="mb-1 text-lg font-bold">{executive.name_th}</h2>
						<p class="text-sm text-gray-600 dark:text-gray-400">{executive.position_th}</p>
						<a href={`mailto:${executive.email}`} class="text-th-link-1 dark:text-th-link-1-dark">
							{executive.email}
						</a>
					</div>
				))
			}
		</div>
	</article>
</Layout>
