---
import Side from '@/components/about/Side.astro';
import PersonnelCard from '@/components/ui/PersonnelCard.astro';
import Layout from '@/layouts/Layout_Sidebar.astro';
import fs from 'fs/promises';
import Papa from 'papaparse';

interface PersonnelCsvSchema {
	name_th: string;
	name_en: string;
	position_th: string;
	position_en: string;
	email: string;
	image: string;
}

const csvPath = 'src/data/about/personnel/teachers_data.csv';
const csvData = await fs.readFile(csvPath, 'utf-8');
const teachers = Papa.parse<PersonnelCsvSchema>(csvData, { header: true }).data;

const title = 'คณาจารย์';
const description = 'คณาจารย์ของวิทยาลัยศาสนศึกษา มหาวิทยาลัยมหิดล';
---

<Layout title={title} description={description}>
	<aside slot="aside" class="order-2 md:order-1">
		<Side />
	</aside>
	<article>
		<h1 class="mt-0">{title}</h1>
		<p class="mb-6">{description}</p>

		<div class="mb-2 grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3">
			{
				teachers.map((teacher) => (
					<PersonnelCard
						nameTh={teacher.name_th}
						nameEn={teacher.name_en}
						positionTh={teacher.position_th}
						positionEn={teacher.position_en}
						email={teacher.email}
						image={`/img/personnel/${teacher.image}`}
					/>
				))
			}
		</div>
	</article>
</Layout>
