---
import Layout from '../../layouts/Layout.astro';
import Image from '../../components/ui/Image.astro';

const { slug } = Astro.params;
let res = await fetch(`https://seedx.seeddemo.com/wp-json/wp/v2/posts?slug=${slug}&_embed`);
let [post] = await res.json();

export async function getStaticPaths() {
	let data = await fetch('https://seedx.seeddemo.com/wp-json/wp/v2/posts?per_page=100&_embed');
	let posts = await data.json();
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: { post: post },
	}));
}

const title = post.title;
const description = post.excerpt || post.content.slice(0, 100);
const cover = post._embedded['wp:featuredmedia']
	? post._embedded['wp:featuredmedia'][0].media_details.sizes.full.source_url
	: '/cover.png';
---

<Layout title={title} description={description} cover={cover}>
	<small class="mx-0 my-[1em] mt-[1.5em] block text-[1.25em] font-bold"
		><a href="/">‹ หน้าแรก</a></small
	>
	<article
		class="card grid overflow-hidden rounded-th-rounded-2 border-[12px] border-solid border-th-bg-1 bg-th-bg-1 shadow-th-shadow-2 dark:border-th-bg-1-dark dark:bg-th-bg-1-dark"
	>
		<div class="relative overflow-hidden rounded-th-rounded-2 pt-[52.5%]">
			<Image src={cover} classes="absolute left-0 top-0 w-full h-full object-cover" alt={title} />
		</div>
		<div class="content mx-auto max-w-th-width-sm p-4 md:p-5 lg:p-6 xl:p-[30px]">
			<h1 class="mx-0 my-4 mt-0">
				{post.title.rendered}
			</h1>
			<div set:html={post.content.rendered} />
		</div>
	</article>
</Layout>
