---
import Slogan from '@/components/sections/Slogan.astro';
import Collapse from '@/components/ui/Collapse.astro';
import Layout from '@/layouts/Layout.astro';
import fs from 'fs/promises';
import Papa from 'papaparse';

interface ItaCsvSchema {
	id: string;
	category: string;
	subject: string;
	link_url: string;
}

const csvPath = 'src/data/ita/ITA-2025_data.csv';
const csvData = await fs.readFile(csvPath, 'utf-8');
const items = Papa.parse<ItaCsvSchema>(csvData, { header: true }).data;

const groupedItems: Record<string, ItaCsvSchema[]> = items.reduce((acc, item) => {
	if (!acc[item.category]) acc[item.category] = [];
	acc[item.category].push(item);
	return acc;
}, {});

const catDescriptions: Record<string, string> = {
	ข้อมูลพื้นฐาน: 'ข้อมูลพื้นฐาน ได้แก่ ข้อมูลพื้นฐาน การประชาสัมพันธ์ และการปฏิสัมพันธ์ข้อมูล',
	การบริหารงานและการใช้จ่ายงบประมาณ:
		'การบริหารงานและการใช้จ่ายงบประมาณ ได้แก่ แผนการดำเนินงานและงบประมาณ การปฏิบัติงาน และการให้บริการและการติดต่อประสานงาน',
	การจัดซื้อจัดจ้าง: 'การจัดซื้อจัดจ้าง ได้แก่ การจัดซื้อจัดจ้างหรือการจัดหาพัสดุ',
	การบริหารและพัฒนาทรัพยากรบุคคล:
		'การบริหารและพัฒนาทรัพยากรบุคคล ได้แก่ แผนการบริหารทรัพยากรบุคคล การดำเนินการตามแผนการบริหารทรัพยากรบุคคล และการขับเคลื่อนจริยธรรม',
	การส่งเสริมความโปร่งใส:
		'การส่งเสริมความโปร่งใส ได้แก่ การจัดการเรื่องร้องเรียนการทุจริตและประพฤติมิชอบ และการเปิดโอกาสให้เกิดการมีส่วนร่วม',
	การป้องกันการทุจริต:
		'ประกอบด้วย การดำเนินการเพื่อป้องกันการทุจริตประเด็นสินบน การส่งเสริมคุณธรรมและความโปร่งใส',
};

const title = 'การเปิดเผยข้อมูลสาธารณะ';
const description = 'Open Data Integrity and Transparency Assessment (OIT)';
---

<Layout title={title} description={description}>
	<Slogan title={title} description={description} />

	<div class="mb-16 text-center text-lg">
		ข้อมูลการเปิดเผยข้อมูลสาธารณะ บัณฑิตวิทยาลัย มหาวิทยาลัยมหิดล
		เพื่อประกอบการประเมินคุณธรรมและความโปร่งใสในการดำเนินงานของส่วนงานภาครัฐ (Mahidol
		University-Integrity and Transparency Assessment: MU-ITA) ประจำปีงบประมาณ พ.ศ.2568
	</div>

	<div class="mb-10">
		{
			Object.entries(groupedItems).map(([category, items]) => (
				<>
					<h2 class="mb-1 mt-12">{category}</h2>
					<div class="mb-5">{catDescriptions[category]}</div>
					<div class="space-y-1">
						{items.map((item) => {
							const links = item.link_url.split('\n');
							return (
								<Collapse title={`${item.id} | ${item.subject}`}>
									{links.map((link, index) => {
										const isExternalLink = link.startsWith('http');
										return (
											<>
												{link ? (
													<>
														{links.length > 1 ? (
															<a
																href={link}
																target={isExternalLink ? '_blank' : '_self'}
																class="link"
															>
																<li>รายการที่ {index + 1}</li>
															</a>
														) : (
															<a
																href={link}
																target={isExternalLink ? '_blank' : '_self'}
																class="link"
															>
																ดูรายละเอียด
															</a>
														)}
													</>
												) : (
													'เร็ว ๆ นี้'
												)}
											</>
										);
									})}
								</Collapse>
							);
						})}
					</div>
				</>
			))
		}
	</div>
</Layout>
