---
import Slogan from '@/components/sections/Slogan.astro';
import Layout from '@/layouts/Layout.astro';

const title = 'แจ้งเบาะแส / ร้องเรียนการทุจริต';
const description = 'ความเป็นธรรมที่เข้าถึงได้';
---

<Layout title={title} description={description}>
	<Slogan title={title} description={description} />

	<div class="mx-auto mb-16 text-center">
		<p class="text-xl font-semibold">ผู้ร้องเรียนจะได้รับความคุ้มครองตามมาตรการที่มหาวิทยาลัยกำหนด</p>
		<p>
			คณบดีบัณฑิตวิทยาลัยจะเป็นผู้ที่สามารถเข้าถึงข้อมูลได้เท่านั้นข้อมูลที่ท่านแจ้งจะเป็นความลับและไม่เปิดเผยชื่อผู้ให้ข้อมูลโดยไม่ได้รับอนุญาตจากท่าน
		</p>
	</div>

	<div class="mx-auto mb-12 max-w-4xl">
		<h3 class="font-semibold">ข้อแนะนำการร้องเรียนการทุจริต</h3>
		<ol class="list-inside list-decimal space-y-2">
			<li>
				หากท่านร้องเรียนผ่านช่องทางนี้จะดำเนินการตามประกาศมหาวิทยาลัยมหิดล เรื่อง
				แนวทางการจัดการข้อร้องเรียน พ.ศ. 2560 และที่แก้ไขเพิ่มเติม
			</li>
			<li>
				ควรป้อนข้อมูลเกี่ยวกับ ชื่อ–นามสกุล โทรศัพท์ และอีเมล (e-mail)
				ของผู้ส่งที่สามารถติดต่อได้ให้ชัดเจน
				เพื่อประโยชน์ในการติดต่อกลับและยืนยันข้อมูลการร้องเรียนหรือข้อเท็จจริงเพิ่มเติมให้ชัดเจนสามารถดำเนินการ
				ต่อไปได้ เพื่อรายงานผลกลับไปยังท่านต่อไป
			</li>
			<li>กรุณากรอกข้อมูลตามความเป็นจริง เพื่อเป็นประโยชน์ต่อการตรวจสอบข้อเท็จจริง</li>
			<li>
				ห้ามมีเนื้อหาที่ส่อไปในทางหยาบคาย คำด่า ข้อความลามกอนาจาร
				ข้อความที่ขัดต่อกฎหมายหรือศีลธรรมอันดีงาม
			</li>
			<li>ห้ามพาดพิงหรือมีเจตนาก่อให้เกิดความเสียหายและเสื่อมเสียต่อบุคคล กลุ่มบุคคล องค์กร</li>
			<li>สำหรับข้อมูลของท่านจะถูกเก็บเป็นความลับอย่างที่สุด</li>
			<li>
				หากไม่ระบุพยานหลักฐานชัดเจนเพียงพอที่จะดำเนินการสืบสวนข้อเท็จจริงได้
				มหาวิทยาลัยมหิดลอาจไม่รับหรือยกเรื่องร้องเรียนดังกล่าวขึ้นพิจารณาได้
			</li>
		</ol>
	</div>

	<form id="form" class="mx-auto mb-10 max-w-xl space-y-4">
		<fieldset class="fieldset">
			<legend class="fieldset-legend">ชื่อ-นามสกุล ผู้แจ้ง</legend>
			<input id="name" type="text" class="input w-full" placeholder="พิมพ์ที่นี่" required />
		</fieldset>
		<fieldset class="fieldset">
			<legend class="fieldset-legend">เรื่องร้องเรียนทุจริต</legend>
			<input id="subject" type="text" class="input w-full" placeholder="พิมพ์ที่นี่" required />
		</fieldset>
		<fieldset class="fieldset">
			<legend class="fieldset-legend">รายละเอียดการทุจริต</legend>
			<textarea id="detail" class="textarea w-full" placeholder="พิมพ์ที่นี่" required></textarea>
		</fieldset>
		<fieldset class="fieldset">
			<legend class="fieldset-legend">โทรศัพท์</legend>
			<input id="tel" type="tel" class="input w-full" placeholder="พิมพ์ที่นี่" required />
		</fieldset>
		<fieldset class="fieldset">
			<legend class="fieldset-legend">อีเมล</legend>
			<input id="email" type="email" class="input w-full" placeholder="พิมพ์ที่นี่" required />
		</fieldset>
		<div class="!mt-6">
			<button type="submit" class="btn btn-primary w-full">ส่งข้อมูล</button>
		</div>
	</form>
</Layout>

<script is:inline>
	document.getElementById('form').addEventListener('submit', (e) => {
		e.preventDefault();

		const name = document.querySelector('#name').value;
		const subject = document.querySelector('#subject').value;
		const detail = document.querySelector('#detail').value;
		const phone = document.querySelector('#tel').value;
		const email = document.querySelector('#email').value;

		const emailTo = 'deancr@mahidol.ac.th';
		const emailSubject = `[Whistleblower] ${subject}`;
		const emailBody = `ชื่อ-นามสกุล : ${name}\n\nเรื่องร้องเรียนทุจริต : ${subject}\n\nรายละเอียดการทุจริต :\n${detail}\n\nโทรศัพท์ : ${phone}\n\nอีเมล : ${email}`;

		const mailto = `mailto:${emailTo}?subject=${emailSubject}&body=${emailBody}`;

		open(encodeURI(mailto));
	});
</script>
