---
import Icon from 'astro-icon';
const { items = [], classes } = Astro.props;
const className = `grid gap-y-8 ${classes} pl-0 text-center`;
---

{
	items && (
		<section class={className}>
			{items.map((i) => (
				<div class="mx-auto max-w-60">
					<Icon name={i.icon} class="mx-auto h-[60px] w-auto" />
					<h2 class="mb-2 mt-6 text-lg font-normal text-th-text-3 dark:text-th-text-3-dark">
						{i.title}
					</h2>
					<p class="mb-0 text-sm text-th-text-5 dark:text-th-text-5-dark dark:opacity-80">
						{i.description}
					</p>
				</div>
			))}
		</section>
	)
}
