---
import Layout from '@/layouts/Layout.astro';

const title = "วันคล้ายวันสถาปนาสถาบันแห่งชาติเพื่อการพัฒนาเด็กและครอบครัว ครบรอบ 28 ปี";
const date = "2 ตุลาคม 2568";
const description = "วิทยาลัยศาสนศึกษาร่วมแสดงความยินดี เนื่องในงานวันคล้ายวันสถาปนาสถาบันแห่งชาติเพื่อการพัฒนาเด็กและครอบครัว ครบรอบ 28 ปี";
const image = "/img/activities/oct2025/2oct2025-1.jpg";

---

<Layout title={title} description={description}>
  <article style="max-width:800px; margin:40px auto; padding:0 20px;">
    <h1>{title}</h1>
    <p style="color:#555; font-size:0.9rem;">{date}</p>
    <img src={image} alt={title} style="width:100%; max-height:400px; object-fit:cover; border-radius:6px; margin:20px 0;" />
    <p>{description}</p>

    <p> วิทยาลัยศาสนศึกษาร่วมแสดงความยินดี เนื่องในงานวันคล้ายวันสถาปนาสถาบันแห่งชาติเพื่อการพัฒนาเด็กและครอบครัว ครบรอบ 28 ปี
      วันที่ 2 ตุลาคม 2568 Dr.Sanjoy Barua Chowdhury อาจารย์ประจำวิทยาลัยศาสนศึกษา ร่วมแสดงความยินดี 
      เนื่องในงานวันคล้ายวันสถาปนาสถาบันแห่งชาติเพื่อการพัฒนาเด็กและครอบครัว ครบรอบ 28 ปี โดยมี 
      รองศาสตราจารย์ ดร.อธิวัฒน์ เจี่ยวิวรรธน์กุล รองผู้อำนวยการฝ่ายแผนและพัฒนาคุณภาพ สถาบันแห่งชาติเพื่อการพัฒนาเด็กและครอบครัว 
      มหาวิทยาลัยมหิดล ให้การต้อนรับ ณ ห้องครอบครัวยั่งยืน นิตยา-นัยพินิจ คชภักดี ชั้น 3 อาคารปัญญาวัฒนา มหาวิทยาลัยมหิดล ศาลายา
</p>
   
</Layout>