---
import Layout from '@/layouts/Layout.astro';

const title = "วิทยาลัยศาสนศึกษาร่วมแสดงความยินดี เนื่องในงานวันคล้ายวันสถาปนาสำนักงานพระพุทธศาสนาแห่งชาติ ประจำปี 2568";
const date = "3 ตุลาคม 2568";
const description = "";
const image = "/img/activities/oct2025/3oct2025/1.jpg";

---

<Layout title={title} description={description}>
  <article style="max-width:800px; margin:40px auto; padding:0 20px;">
    <h1>{title}</h1>
    <p style="color:#555; font-size:0.9rem;">{date}</p>
    <img src={image} alt={title} style="width:100%; max-height:400px; object-fit:cover; border-radius:6px; margin:20px 0;" />
    <p>{description}</p>

    <p> วิทยาลัยศาสนศึกษาร่วมแสดงความยินดี เนื่องในงานวันคล้ายวันสถาปนาสำนักงานพระพุทธศาสนาแห่งชาติ ประจำปี 2568
วันที่ 3 ตุลาคม 2568 อาจารย์ ดร.สุชาดา ศรีเศรษฐวรกุล รองคณบดีฝ่ายการศึกษาและกิจการนักศึกษา วิทยาลัยศาสนศึกษา ร่วมแสดงความยินดี 
เนื่องในงานวันศาสนูปถัมภ์และวันคล้ายวันสถาปนาสํานักงานพระพุทธศาสนาแห่งชาติ ประจำปี 2568 โดยมี นางอุดมพร เอกเอี่ยม 
ผู้อำนวยการสำนักงานพระพุทธศาสนาแห่งชาติ ให้การต้อนรับ ณ หอประชุมพุทธมณฑล สํานักงานพระพุทธศาสนาแห่งชาติ จังหวัดนครปฐม</p>
   
</Layout>