---
import Slogan from '@/components/sections/Slogan.astro';
import Layout from '@/layouts/Layout.astro';

const title = 'ข่าวสาร';
const description = 'ประกาศ ข่าวสาร และกิจกรรมต่าง ๆ';

const sections = [
	{ title: 'การรับสมัครงาน', href: 'https://muhr.mahidol.ac.th/E-Recruitment' },
  { title: 'ประกาศจัดซื้อจัดจ้าง', href: 'https://www.gprocurement.go.th/new_index.html' },  
  { title: 'การศึกษา', href: '#' },
  { title: 'ประชาสัมพันธ์', href: '#' },
  { title: 'ติดตามข่าวเพิ่มเติม', href: 'https://www.facebook.com/CrsMahidol' },
];
---

<Layout title={title} description={description}>
  <Slogan title={title} description={description} />

  <div class="mx-auto mb-10 max-w-md grid gap-4">
    {sections.map((section) => (
      <a
        class="text-center text-2xl font-normal p-4 rounded-lg bg-base-250 hover:bg-base-300 transition"
        href={section.href}
        target={section.href.startsWith('http') ? '_blank' : '_self'}
        rel={section.href.startsWith('http') ? 'noopener noreferrer' : ''}
      >
        {section.title}
      </a>
    ))}
  </div>

  <!-- <div class="mx-auto mb-10 max-w-xl space-y-5 text-center text-2xl">
    <a
      class="link-hover card link flex h-20 items-center justify-center rounded-box bg-base-300"
      href="https://www.facebook.com/CrsMahidol"
      target="_blank"
      rel="noopener noreferrer"
    >
      ติดตามข่าวสารเพิ่มเติม
    </a>
  </div>
-->
 <div class="mb-20 flex w-full items-center justify-center">
		<iframe
			src="https://drive.google.com/file/d/1qdeDzWqtV9RW_9vRb_jA7negsWH4PDAn/preview"
			width="640"
			height="720"
			allow="autoplay"></iframe>
	</div>

</Layout>
